@model List<Game>;

<h1>@ViewBag.Titre</h1>

<a class="btn btn-primary" asp-controller="Game" asp-action="Create">Create</a>

    @foreach(Game game in Model)
    {
        
            <h3>@game.Title</h3>
            <p>Genre : @game.Category</p>
            <p>Description : @game.Description</p>
            <p>Release : @game.Release</p>
            <a class="btn btn-primary" asp-controller="Game" asp-action="Detail" asp-route-id="@game.Id">Detail</a>

        <hr />
    }
